* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  color: #222;
  display: flex;
  height: 100vh;
  background: #f9f9f9;
}
.col-left {
  width: 20em;
  border-right: 1px solid #eee;
}
.col-right {
  width: 100%;
  height: 100%;
}
.col-right>div {
  display: none;
  height: 100%;
  overflow-y: scroll;
}
.col-right>div>div {
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;
}
.col-right>div>div>div {
  padding: 1em;
  display: inline-block;
}
.col-right>div>div>button {
  float: right;
  padding: 1em;
  margin: 0;
  background: none;
  border: none;
  border-left: 1px solid #eee;
  width: 7em;
  font-size: 1em;
  cursor: pointer;
}
.col-right>div>div>button:hover {
  background: rgb(55, 111, 185);
  color: #fff;
}
.col-left>button, .col-left>header {
  padding: 1em;
  border: 0;
  display: block;
  width: 100%;
}
.col-left header {
  background: rgb(55, 111, 185);
  color: #fff;
  font-size: 1.2em;
}
.col-left header #addbtn {
  float: right;
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  padding: 0.1em 0.4em;
}
.col-left button {
  font-size: 1em;
  text-align: right;
  cursor: pointer;
  color: #222;
  background: transparent;
  border-right: 5px solid transparent;
  border-bottom: 1px solid #eee;
}
.col-left button.selected {
  border-right: 5px solid rgb(55, 111, 185);
}
.col-left .copyright, .col-left .copyright a {
  color: #777;
}
.col-left .copyright {
  padding: 1em;
  font-size: 0.6em;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5em;
  background: #fff;
  display: none;
  text-align: center;
}
input, select {
  display: block;
  width: 21em;
  padding: 1em;
  border-radius: 1ex;
  margin: 1em auto;
  border: 1px solid #ccc;
}
.dialog button {
  border-radius: 1ex;
  width: 10em;
  padding: 0.6em;
  color: #fff;
  cursor: pointer;
  margin: 0.5ex;
}
.dialog button.green {
  background: rgb(81, 153, 74);
  border: 1px solid rgb(31, 75, 27);
}
.dialog button.red {
  background: rgb(154, 52, 52);
  border: 1px solid rgb(75, 27, 27);
}
